[submodule "HeadHunter-copy-back"]
	path = HeadHunter-copy-back
	url = https://github.com/LexUniverse/HeadHunter-copy-back.git
[submodule "HeadHunter-copy-front"]
	path = HeadHunter-copy-front
	url = https://github.com/LexUniverse/HeadHunter-copy-front.git
